@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5;
}

.router-link-active {
  display: block;
  background-color: #ecf4fd;
  width: 100%;
}

.disableCompleting {
  pointer-events: none;
  color: gray;
}
